@model List<AirportFuelInventory.Models.ReportSummary.FuelSummary>
@if (Model.Any())
{
    <h2>FuelConsumptionReport</h2>

    <table id="fuelConsumptionTable" class="table">
        <thead>
            <tr>
                <th>Airport Name</th>
                <th>Transactions</th>
                <th>Available Fuel</th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = (Model.First().CurrentPage - 1) * 10 + 1;

                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AirportName</td>
                        <td>
                            <table class="inner-table">
                                <thead>
                                    <tr>
                                        <th class="pe-1 border">Transaction Date</th>
                                        <th class="pe-1 border">Aircraft Name</th>
                                        <th class="pe-1 border">Quantity</th>
                                        <th class="pe-1 border">Transaction Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var transaction in item.TransactionDTO)
                                    {
                                        <tr>
                                            <td class="pe-1 border">@transaction.Transaction_date_time</td>
                                            <td class="pe-1 border">@transaction.AircraftName</td>
                                            <td class="pe-1 border">@transaction.Quantity</td>
                                            <td class="pe-1 border">@transaction.TransactionTypeString</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                        <td>@item.AvailableFuel</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div id="pagination_v2" class="mt-3">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("FuelConsumptionReport", "FuelConsumptionReport", new { page = Model.First().CurrentPage - 1, sortColumn = ViewBag.SortColumn, sortDirection = ViewBag.SortDirection })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="@Url.Action("FuelConsumptionReport", "FuelConsumptionReport", new { page = Model.First().CurrentPage + 1, sortColumn = ViewBag.SortColumn, sortDirection = ViewBag.SortDirection })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <input type="button" onclick="generateFuelConsumptionReport()" value="Export To PDF" />
}
