@model List<AirportFuelInventory.Models.ReportSummary.FuelSummary>

@{
    ViewBag.Title = "FuelConsumptionReport";
}
<!DOCTYPE html>
<html>
<head>
    <title>Available Fuel Report</title>
</head>
<body>
    <h2>FuelConsumptionReport</h2>

    <table id="fuelConsumptionTable" class="table">
        <thead>
            <tr>
                <th>Airport Name</th>
                <th>Transactions</th>
                <th>Available Fuel</th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = (Model.First().CurrentPage - 1) * 10 + 1;

                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AirportName</td>
                        <td>
                            <table class="inner-table">
                                <thead>
                                    <tr>
                                        <th>Transaction Date</th>
                                        <th>Aircraft ID</th>
                                        <th>Quantity</th>
                                        <th>Transaction Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var transaction in item.TransactionDTO)
                                    {
                                        <tr>
                                            <td>@transaction.Transaction_date_time</td>
                                            <td>@transaction.Aircraft_id</td>
                                            <td>@transaction.Quantity</td>
                                            <td>@transaction.Transaction_type</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                        <td>@item.AvailableFuel</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div id="pagination_v2" class="mt-3">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("FuelConsumptionReport", "FuelConsumptionReport", new { page = Model.First().CurrentPage - 1, sortColumn = ViewBag.SortColumn, sortDirection = ViewBag.SortDirection })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= Model.First().TotalPages; i++)
                {
                    <li class="page-item @(i == Model.First().CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("FuelConsumptionReport", "FuelConsumptionReport", new { page = i, sortColumn = ViewBag.SortColumn, sortDirection = ViewBag.SortDirection })">@i</a>
                    </li>
                }

                <li class="page-item">
                    <a class="page-link" href="@Url.Action("FuelConsumptionReport", "FuelConsumptionReport", new { page = Model.First().CurrentPage + 1, sortColumn = ViewBag.SortColumn, sortDirection = ViewBag.SortDirection })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    @Html.ActionLink("Export To PDF", "ExportToPdf", null, new { @class = "btn btn-primary" })
</body>
</html>
