@model AirportFuelInventory.Models.Model.TransactionDTO

@{
    ViewBag.Title = "AddTransaction";
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p style="color: red;">@ViewBag.ErrorMessage</p>
}

<h2>AddTransaction</h2>

@using (Html.BeginForm("AddTransaction", "Transaction", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Transaction_type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Transaction_type,
                    new SelectList(Enum.GetValues(typeof(AirportFuelInventory.Models.Model.TransactionType))
                        .Cast<AirportFuelInventory.Models.Model.TransactionType>()
                        .Select(e => new SelectListItem
                        {
                            Value = ((int)e).ToString(),
                            Text = e.ToString()
                        }), "Value", "Text"),
                    "--Select Transaction Type--",
                    new { @class = "form-control" })
            </div>

        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Airport_id, "Airport", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Airport_id, new SelectList(Model.AirportDTOs, "Airport_id", "Airport_name"), "--Select Airport--", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Aircraft_id, "Aircraft", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Aircraft_id, new SelectList(Model.AircraftDTOs, "Aircraft_id", "Aircraft_no"), "--Select Aircraft--", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control" })
            </div>
        </div>
        @Html.HiddenFor(model => model.Transaction_Id)
        <div>
            <button type="submit" class="btn btn-primary" id="AddTransactionButton">Add</button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
