@model AirportFuelInventory.Models.Model.TransactionDTO

@{
    ViewBag.Title = "Transaction";
}


@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p style="color: red;">@ViewBag.ErrorMessage</p>
}

<h2>Transaction</h2>

<div>
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Date and Time</th>
                    <th>Transaction Type</th>
                    <th>Airport ID</th>
                    <th>Aircraft ID</th>
                    <th>Quantity</th>
                    <th>Parent Transaction ID</th>
                    <th></th>
            </thead>
            <tbody>
                @foreach (var airport in Model.Transactions)
                {
                    <tr>
                        <td>@airport.Transaction_date_time</td>
                        <td>@airport.TransactionTypeString</td>
                        <td>@airport.AirportDTOs.FirstOrDefault(s => s.Airport_id == airport.Airport_id).Airport_name</td>
                        @if (airport.TransactionTypeString == "Out")
                        {
                            <td>@airport.AircraftDTOs.FirstOrDefault(s => s.Aircraft_id == airport.Aircraft_id).Aircraft_no</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@airport.Quantity</td>
                        <td>@airport.Transaction_id_parent</td>
                        <td>
                            @if (airport.Transaction_id_parent == null)
                            {
                                <a href="@Url.Action("AddTransaction", "Transaction", new { Transaction_Id = airport.Transaction_Id })">Reverse</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Transaction available</p>
    }
</div>

<p>
    @Html.ActionLink("Add Transaction", "AddTransaction") |
    @Html.ActionLink("Delete all Transactions", "DeleteTransaction")

</p>

