@model AirportFuelInventory.Models.Model.AircraftDTO

@{
    ViewBag.Title = "AddAircraft";
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p style="color: red;">@ViewBag.ErrorMessage</p>
}

<h2>AddAircraft</h2>

@using (Html.BeginForm("NewAircraft", "Aircraft", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AircraftDTO</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Aircraft_no, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aircraft_no, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Aircraft_no, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Airline, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Airline, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Airline, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Source_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Source_id, new SelectList(Model.Sources, "Source_id", "Source_name"), "-- Select Source --", new { @class = "w-100 form-control", @id = "DdlSource" })
                @Html.ValidationMessageFor(model => model.Source_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Destination_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Destination_id, new SelectList(Model.Destinations, "Destination_iD", "Destination_name"), "-- Select Destination --", new { @class = "w-100 form-control", @id = "DdlDestination" })
                @Html.ValidationMessageFor(model => model.Destination_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary" id="AddAircraftButton">Add</button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AircraftList")
</div>
