@model List<AirportFuelInventory.Models.Model.AircraftDTO>

@{
    ViewBag.Title = "AircraftList";
}

<h2>AircraftList</h2>

<div>
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Sl.No</th>
                    <th>@Html.DisplayNameFor(model => Model.First().Aircraft_Name)</th>
                    <th>@Html.DisplayNameFor(model => Model.First().Airline)</th>
                    <th>@Html.DisplayNameFor(model => Model.First().Source)</th>
                    <th>@Html.DisplayNameFor(model => Model.First().Destination)</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = (Model.First().Pagination.CurrentPage - 1) * 10 + 1;
                    foreach (var aircraft in Model)
                    {
                        <tr>
                            <td>@(count++)</td>
                            <td>@aircraft.Aircraft_Name</td>
                            <td>@aircraft.Airline</td>
                            <td>@aircraft.Source</td>
                            <td>@aircraft.Destination</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Aircraft available</p>
    }
</div>

<p>
    @Html.ActionLink("Add Aircraft", "AddAircraft", "Aircraft")
</p>

