@model DemoUserManagement.Models.UserDetailDTO

@{
    Layout = "~/Views/Shared/_Layout_v2.cshtml";
}

@{
    ViewBag.Title = "Login_v2";
}

@using (Html.BeginForm("Login_v2", "Login_v2", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control mt-2 mb-2" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control mt-2 mb-2" })
    </div>

    <button class="btn btn-primary">Login</button>
    @Html.ActionLink("New User", "UserDetail_v2", "Registration_v2", null, new { @class = "btn btn-primary" })
}

