@model List<AirportFuelInventory.Models.ReportSummary.AirportSummary>
@if (Model.Any())
{
    <h2>Available Fuel Report</h2>
    <table id="availableFuelTable" class="table">
        <thead>
            <tr>
                <th>Airport ID</th>
                <th>Airport Name</th>
                <th>Available Fuel</th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = (Model.First().CurrentPage - 1) * 5 + 1;

                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AirportId</td>
                        <td>@item.AirportName</td>
                        <td>@item.AvailableFuel</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div id="pagination_v2" class="mt-3">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Dashboard", "Dashboard", new { page = Model.First().CurrentPage - 1, sortColumn = ViewBag.SortColumn, sortDirection = ViewBag.SortDirection })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>


                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Dashboard", "Dashboard", new { page = Model.First().CurrentPage + 1, sortColumn = ViewBag.SortColumn, sortDirection = ViewBag.SortDirection })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <input type="button" onclick="generateAvailableFuelReport()" value="Export To PDF" />
}
