@model List<AirportFuelInventory.Models.Model.AirportDTO>

@{
    ViewBag.Title = "AirportList";
}

<h2>AirportList</h2>

<div>
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Sl.No</th>
                    <th>@Html.DisplayNameFor(model => Model.First().Airport_Name)</th>
                    <th>@Html.DisplayNameFor(model => Model.First().Fuel_Capacity)</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = (Model.First().Pagination.CurrentPage - 1) * 10 + 1;
                    foreach (var airport in Model)
                    {
                        <tr>
                            <td>@(count++)</td>
                            <td>@airport.Airport_Name</td>
                            <td>@airport.Fuel_Capacity</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No airports available</p>
    }
</div>

<div id="pagination_v2" class="mt-3">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" href="@Url.Action("AirportList", "AirportList", new { page = Model.First().Pagination.CurrentPage - 1, sortColumn = ViewBag.SortColumn, sortDirection = ViewBag.SortDirection })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item">
                <a class="page-link" href="@Url.Action("AirportList", "AirportList", new { page = Model.First().Pagination.CurrentPage + 1, sortColumn = ViewBag.SortColumn, sortDirection = ViewBag.SortDirection })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<p>
    @Html.ActionLink("Add Airport", "AddAirport")
</p>
